    .full-screen-container {
      position: relative;
      height: 100vh;
      width: 100%;
    }

    .full-screen-image {
      background: url('images/abstract_01.png') no-repeat center center;
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
    }

    .centered-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      text-align: center;
      z-index: 1;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-family: 'Times New Roman', Times, serif;
    }

    .content {
      position: relative;
      z-index: 2;
      margin-top: 100vh;
      /* Push content below the full-screen image */
    }

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px 0;
      z-index: 1000;
    }

    .navbar-brand,
    .nav-item {
      padding-left: 30px;
    }
    .navbar-nav .nav-item .nav-link {
    color: white; /* Initial color */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #e1a900ee; /* Hover color */
  }

    .Callback {
      background-color: black;
      color: white;
      padding: 2%;
    }

    .form {
      padding: 0 40px;
      box-sizing: border-box;
    }

    form .txt_field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
    }

    .txt_field input {
      color: aliceblue;
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
    }

    .txt_field label {
      position: absolute;
      top: 50%;
      left: 5px;
      color: #adadad;
      transform: translateY(-50%);
      font-size: 16px;
      pointer-events: none;
      transition: .5s;
    }

    .txt_field span::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #e1a900ee;
      transition: .5s;
    }

    .txt_field input:focus~label,
    .txt_field input:valid~label {
      top: -5px;
      color: #e1a900ee;
    }

    .txt_field input:focus~span::before,
    .txt_field input:valid~span::before {
      width: 100%;
    }
    .link {
  transition: color 0.3s ease;
}

.link:hover {
  color: #e1a900ee;
}

h6 {
  font-weight: bold;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer ul li a:hover {
  color: #e1a900ee;
}
